OPENWEATHER_API_KEY=
CURRENT_LOCATION=Athens,TX
DATABASE_URL=postgresql://cl:change-me@postgres:5432/cl
LOCATIONS_FILE=/app/data/locations/locations.json
FLASK_SECRET_KEY=change-this-secret
APP_PORT=5002
